{% extends "layouts/index.html" %} 

{% block content %}

<h1 class="display-4 fw-semibold">Hello World</h1>

{% from "_macros.html" import render_input %}

<hr />
<div class="mt-5">
    <form action="" >
        {{ render_input("username", "Username") }}
        {{ render_input("lastname", "Apellidos") }}
        {{ render_input("age", "Edad") }}
        {{ render_input("password", "Contraseña", type="password") }}
            <div class="mt-5 text-center">
                <button type="submit" class="btn btn-primary btn-lg px-5 rounded-pill fw-semibold">
                    ENVIAR
                </button>
            </div>
    </form>
</div>

{% endblock %}
