{% extends "layouts/index.html" %} {% block content %}

<h1 class="display-4 fw-semibold">Resistencias</h1>

{% from "_macros.html" import render_field %}

<hr />
<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <form action="/resistance" method="POST" novalidate>
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                />
                {{ render_field(form.firstBand, class="form-select") }} {{
                render_field(form.secondBand, class="form-select") }} {{
                render_field(form.thirdBand, class="form-select") }} {{
                render_field(form.tolerance, class="form-select") }}

                <div class="mt-5 text-center">
                    <button
                        type="submit"
                        class="btn btn-primary btn-lg px-5 rounded-pill fw-semibold"
                    >
                        CACULATE
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <table class=" mt-5 table caption-top border border-2 rounded-4 overflow-hidden">
                <caption>
                    Listado de Resistencias
                </caption>
                <thead>
                    <tr>
                        <th>Banda 1</th>
                        <th>Banda 2</th>
                        <th>Banda 3</th>
                        <th>Tolerancia</th>
                        <th>Resistencia</th>
                        <th>min</th>
                        <th>max</th>
                    </tr>
                </thead>
                <tbody>
                    {% for first, second, third, tolerance, result, min, max in data %}
                    <tr>
                        <td class="bg-{{ first }} text-center text-white">{{ first }}</td>
                        <td class="bg-{{ second }} text-center text-white">{{ second }}</td>
                        <td class="bg-{{ third }} text-center text-white">{{ third }}</td>
                        <td class="bg-{{ tolerance }} text-center text-white">{{ tolerance }}</td>
                        <td>{{ result }}</td>
                        <td>{{ min }}</td>
                        <td>{{ max }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}
